
# ignore Idea artifacts
/.idea/
.idea/misc.xml
*.iml
*.ipr
*.iws

# ignore Eclipse artifacts
/.classpath
/.project
/.settings

# ignore things created by the build
/build/
/.gradle
.gradle
/gradle.properties

/local.properties
.DS_Store
/captures
.externalNativeBuild